
.container-start h2 {
  color: #101010;
  font-size: 22px;
  margin-bottom: 50px;
}
.add-product {
  background: #fff;
  padding: 20px 0 20px 20px;
  width: 650px;
}
.add-product h4 {
  font-size: 15px;
  margin-bottom: 30px;
}
.form {
  width: 600px;
}
.form-label {
  font-size: 14px;
}
.form-control {
  margin-bottom: 25px;
  font-size: 15px;
}
.file-upload-msg {
  font-size: 12px;
  color: #979fa1;
}
.form .btn {
  font-size: 15px;
}