.auto-listings {
    padding: 20px;
}

.auto-listings-header {
    margin: 20px 0;
}

.auto-listings .auto-title { 
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.auto-listings .auto-link {
    font-size: 15px;
    font-weight: 600;
    color: #8d9ba8;
    letter-spacing: 0.5px;
    margin-top: 15px;
}

.auto-listings-section {
    margin-top: 60px;
}

.auto-listings-section hr {
    border-color: #8d9ba895;
    margin: 30px 10px;
}

.autos-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 0;
}

.autos-sort p {
    font-size: 13px;
    font-weight: 500;
    color: #8d9ba8;
    padding-right: 10px;
    margin: auto;
    display: none;
}


.autos-sort .dropdown .dropdown-toggle {
    background: transparent;
    border: 1px solid #8d9ba8;
    padding: 8px 40px;
    color: #8d9ba8;
    font-size: 15px;
    font-weight: 600;

}

.autos-sort .dropdown .dropdown-menu {
    background: #1c1e22;
    border: 1px solid #8d9ba83d;

}

.autos-sort .dropdown .dropdown-menu .dropdown-item {
    color: #8d9ba8;
    font-size: 15px;
    font-weight: 600;
}

.autos-sort .dropdown .dropdown-menu .dropdown-item:hover {
    background: #101010;
}


.auto-wrapper {
    margin-top: 30px;
}

.auto-car-box {
    margin: 20px 0 30px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    border-radius: 10px;
    width: 100%;

    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.35);
}

.auto-car-box .auto-car-img-box {
    height: 120px;
    width: 30%;
    cursor: pointer;
}

.auto-car-box .auto-car-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.auto-car-details {
    padding-left: 20px;
    width: 70%;
}

.auto-car-box .auto-car-details .link {
    text-decoration: none;
}

.auto-car-box .auto-car-details .auto-name {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.auto-car-box .auto-car-details .auto-about {
    font-size: 13px;
    font-weight: 400;
    color: #8d9ba8;
    margin-bottom: 5px;
    height: 40px;
    padding-bottom: 0;
}

.auto-car-box .auto-car-details .auto-price {
    font-size: 22px;
    font-weight: 700;
    color: #f7f7f7;
    margin-bottom: 10px;
}


.auto-car-box .auto-car-info {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auto-car-box .auto-car-info p {
    font-size: 12px;
    font-weight: 600;
    color: #aaaaaa;
    padding-bottom: 0;
    margin-bottom: 5px;
}

.auto-car-box .auto-car-info span {
    color: #8d9ba8;
    font-weight: 500;
}



.fa-list {
    font-size: 20px;
    color: #f7f7f7;
    margin-top: 10px;
    visibility: hidden !important;
}

/* Mobile View */
@media only screen and (max-width: 767px) {

    .auto-listings .aut-title {
        font-size: 25px;
        margin-left: 0;
    }

    .aut-link {
        font-size: 14px;
        padding-top: 15px;
        margin-left: 10px;
    }

    .auto-listings-section {
        padding: 50px 0 0 0;
        display: flex;
        flex-direction: column;
    }
    .autos-sort {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 20px 0;
    }
    .autos-sort > * {
        flex-basis: 50%; /* This sets each child element to occupy 50% of the row */
    }      
    .auto-car-box {
        margin: 20px 0 30px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        padding: 15px 20px;
        border-radius: 10px;
        width: 100%;
    }
    .autos-sort .dropdown .dropdown-toggle {
        padding: 8px 15px;
        font-size: 14px;
        font-weight: 600;
    
    }
    .auto-car-box .auto-car-img-box {
        height: 160px;
        width: 100%;
    }
    
    .auto-car-box .auto-car-image {
        width: 100%;
        height: 100%;
    }
    .auto-car-details {
        padding-left: 0;
        padding-top: 20px;
        width: 100%;
    }
    .auto-car-box .auto-car-details .auto-about {
        font-size: 13px;
        font-weight: 400;
        color: #8d9ba8;
        margin-bottom: 5px;
        height: 40px;
    }
    .auto-car-box .auto-car-details .auto-price {
        font-size: 22px;
        font-weight: 700;
        color: #f7f7f7;
        margin-bottom: 10px;
        margin-top: 10px;
    }
   


}