.contact-section {
  margin-top: 50px;
}

.contact-header {
  margin: 20px 0;
}

.contact-header .contact-title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
}

.contact-header .contact-link {
  font-size: 15px;
  font-weight: 600;
  color: #8d9ba8;
  letter-spacing: 0.5px;
  margin-top: 15px;
}

.contact-wrapper {
  margin-top: 60px;
}

.contact-form {
  padding: 30px 50px;
  border-radius: 15px;

  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.51);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.51);
}

.contact-form h3 {
  font-size: 22px;
  font-weight: 600;
}

.contact-form p {
  font-size: 15px;
  font-weight: 500;
  color: #8d9ba8;
}

.contacts .form-control {
  height: 65px;
}

.contact-form .form-group {
  margin: 30px 0;
}

.contact-form .form-group .form-control {
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding-left: 0;
  padding-right: 0;
  border-radius: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  font-weight: 500;
  background: transparent;
  color: #f7f7f7;
}

.contact-form .form-group .form-control:focus {
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}


.f-msg {
  height: 130px !important;
}


.contact-form .btn {
  margin-top: 30px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  background: #1d9bf0;
  border: 1px solid  #1d9bf0;
  padding: 15px 50px;
  border-radius: 25px;
}

.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact-details h5 {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #8d9ba8;
}

.contact-details span {
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}




.contact-follow {
  margin-top: 30px;
  margin-left: 50px;
}

.contact-follow p {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #8d9ba8;
}

.contact-socials ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

.contact-socials ul li {
  padding-right: 30px;
  cursor: pointer;
}

.contact-socials .fa-brands {
  font-size: 21px;
  color: #8d9ba8;
}

.contact-socials .fa-whatsapp:hover {
  color: #25d366;
}

.contact-socials .fa-instagram:hover {
  color: #c13584;
}

.contact-socials .fa-facebook-f:hover {
  color: #1877f2;
}

.contact-socials .fa-twitter:hover {
  color: #1da1f2;
}



/* Mobile View */
@media only screen and (max-width: 767px) {
  .contact-title {
    font-size: 25px;
    margin-left: 10px;
  }

  .contact-link {
    font-size: 14px;
    padding-top: 15px;
    margin-left: 10px;
  }

  .contact {
    margin-top: 50px;
  }

  .contacts {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
  }

  .c-details h3 {
    font-weight: 300;
  }

  .c-details {
    margin-left: 10px;
  }

  .c-details-2 {
    margin-top: 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
  }

  .c-details-2 h5 {
    font-size: 15px;
    color: #8d9ba8;
  }

  .c-details-2 {
    margin-top: 30px;
    gap: 30px;
  }

  .c-details-content {
    width: 300px;
  }

  .form {
    width: 360px !important;
  }

  .contacts .form-control {
    height: 75px;
  }

  .mail-img {
    display: none;
  }

  .c-f p { 
    font-weight: 400;
  }

  .c-details-content span {
    font-size: 15;
    font-weight: 300;
  }

  .c-change {
    display: flex;
    flex-direction: column-reverse;
  }

}