.description {
    padding: 20px 0;
}
.description p {
    color: #8d9ba8;
    font-size: 14px;
    font-weight: 400;
}

.description .accordion {
    border: 1px solid transparent!important;
}
.description .accordion-header {
    color: #8d9ba8;
    background: #111315;
    border: 0 solid transparent;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}
.description .accordion-body {
    background: #111315;
    color: #8d9ba8;
} 
.description .accordion-body .accordion-text{
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.description .accordion-item {
    border-bottom: 1px solid #8d9ba8;
    border-top: none;
    border-right: none;
    border-left: none;
}

.description .fa-solid {
    float: right;
    margin-top: auto;
    cursor: pointer;
    color: #8d9ba8;
    margin-right: 15px;
}


/* Mobile View */
@media only screen and (max-width: 767px) {
   
    .description .accordion-header {
        padding:15px 0 15px 15px;
        font-size: 15px;
    }
    .description .accordion-body {
        font-size: 14px;
    }
    .description p {
       font-size: 14px;
    }
  }
  