.footer {
    margin-top: 20%;
    background: #111315;
    padding: 0 0 20px 0;
}


.footer .f-g {
    position: relative;
    background: #01abae;
    width: 70%;
    height: 150px;
    z-index: 1;
    left: 12%;
    top: -180px;
}


.footer-content {
    position: relative;
    display: flex;
    left: 15%;
    height: 150px;
    background: #24262b;
    padding: 30px 20px;
    justify-content: space-between;
    width: 85%;
    z-index: 2;
}

.footer-content h1 {
    font-size: 32px;
    color: #8d9ba8;
    font-weight: 600;
}

.footer-content p {
    font-size: 18px;
    font-weight: 500;
    color: #8d9ba8;
}

.footer-content .btn-link {
    margin-top: auto;
    margin-bottom: auto;
}

.footer-content .btn {
    background: #01abae;
    border: 1px solid #01abae;
    font-size: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 10px 30px;
}


.footer .container{
    position: relative;
    top: -100px;
    height: 100px;
}
.footer-story {
    margin-top: auto;
   
    padding: 0 30px 20px;
}

.footer-story .footer-text {
    color: #8d9ba8;
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
}


.footer-social-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-socials {
    max-width: 400px;
    padding: 10px 50px;
}


.footer-socials ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.footer-socials ul li {
    padding: 0 15px;
    cursor: pointer;
}

.footer-socials .fa-brands {
    font-size: 20px;
    color: #8d9ba8;
}


.footer-socials .fa-brands {
    font-size: 23px;
    color: #8d9ba8;
}

.footer-socials .fa-whatsapp:hover {
    color: #25D366;
}

.footer-socials .fa-instagram:hover {
    color: #C13584;

}

.footer-socials .fa-facebook-f:hover {
    color: #1877F2;
}

.footer-socials .fa-twitter:hover {
    color: #1DA1F2;
}



/* 
.footer .navbar  {
    margin-top: 150px;
    margin-left: 220px;
}
.footer .navbar .navbar-nav {
    gap: 30px;
}
.footer .navbar .nav-link {
    color: #8d9ba8;
    font-size: 15px;
}
.footer .navbar .nav-link:hover {
    color: #ffff;
    background: #2d3035;
}
.footer .nav-brand {
    font-size: 25px!important;
    margin-right: 150px;
    text-decoration: none;
    color: #8d9ba8;
} */

/* Mobile View */
@media only screen and (max-width: 767px) {
    .footer-content {
        margin-top: -50px;
        gap: 5px;
        margin-left: 50px;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    .f-c {
        padding: 20px 0 10px 20px;
    }

    .footer-content .btn {
        height: 40px;
        padding: 5px 10px 5px 10px;
        margin-top: 0;
        margin-right: 40px;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .footer .f-g {
        width: 80%;
        height: 120px;
        position: absolute;
        z-index: 1;
        margin: -70px 0 0 20px;
    }

    .footer-content h1 {
        font-size: 25px;
    }

    .footer-story {
        display: none;
    }

    .footer-socials {
        margin-left: 0;
        margin-top: 100px;
    }
}