.hedaer-contact {
  padding: 50px 150px 50px 150px;
}
.hedaer-contact .welcome {
  font-family: "Nunito", sans-serif;
  color: #8d9ba8;
}
.header-socials {
  padding-left: 300px;
  padding-right: 50px;
}
.header-socials .fa-brands {
  font-size: 23px;
  padding-right: 15px;
  color: 50px;
}

.header-socials .fa-whatsapp:hover {
  color: #25d366;
}
.header-socials .fa-instagram:hover {
  color: #c13584;
}
.header-socials .fa-facebook-f:hover {
  color: #1877f2;
}
.header-socials .fa-twitter:hover {
  color: #1da1f2;
}
.hedaer-contact .btn {
  margin-right: 30px;
  background: rgb(60, 152, 36);
  background: radial-gradient(
    circle,
    rgba(60, 152, 36, 1) 70%,
    rgba(40, 136, 50, 1) 100%
  );
  font-family: "Nunito", sans-serif;
  border: 1px solid #1d4c2e;
  padding: 10px 40px 10px 40px;
}
.header-info {
  padding: 0 150px 50px 10px;
  justify-content: space-evenly;
}
.header-info .h-infos {
  color: #8d9ba8;
}
.header-info .h-infos span {
  padding-top: 0;
  margin-top: 0;
  font-size: 14px;
  color: #8d9ba8;
  font-family: "Nunito", sans-serif;
}
.header-info .h-infos h4 {
  font-size: 18px;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
}
.header-info .h-infos .fa-solid {
  font-size: 20px;
}
.header-info .fa-envelope {
  font-size: 40px;
  margin-right: 10px;
}
.header-info h2 {
  font-family: "Nunito", sans-serif;
}
.header .navbar {
  padding-left: 120px;
  background: #24262b;
}
.header .navbar .navbar-nav {
  gap: 80px;
}
.header .navbar .nav-link {
  color: #8d9ba8;
}
.header .navbar .nav-link:hover {
  color: #ffff;
  background: #2d3035;
}
.nav-brand {
   display: none;
}
/* Mobile View */
@media only screen and (max-width: 767px) {
  .header {
    position: relative;
  }
  .hedaer-contact {
    display: none !important;
  }
  .header-info {
    display: none !important;
  }
  .navbar-nav {
    position: absolute;
    background-color: #07030a;
    width: 80%;
    top: 0;
    left: 0;
    z-index: 5;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    gap: 40px !important;
    height: 100vh;
    transition: 0.6s;
    opacity: 0.95;
    animation: appear 0.35s backwards;
  }

  .navbar-toggler {
    margin-left: 65px;
    border: 2px solid #8d9ba8;
  }
  .navbar-toggler:active {
    border: 2px solid #8d9ba8!important;

  }
  .fa-bars, .fa-x {
    font-size: 30px;
    color: #8d9ba8;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }
  .nav-link {
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  .mobile-logo {
    height: 30px;
    width: 50px;
  }
  .header .navbar {
    padding-left: 0;
  }
  .header .nav-brand {
    color: #8d9ba8;
 display: block; 
 font-size: 25px;
 text-decoration: none;
  }
 
  

}
