
.section-title {
    text-align: center;
    font-size: 50px;
}
/*.....Hero............*/
.containers {
    display: flex;
    overflow-x: hidden;
  }
  
  .panel {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 0 15px 10px 0;
    gap: 10px!important;
    position: relative;
    transition: flex 0.7s ease-in;
    
  }
  
  .panel h3 {
    font-size: 24px;
    position: absolute;
    right: 20px;
    margin: 0;
    opacity: 0;
    top: 25px;
  }
  .panel .hero-style-right {
    visibility: hidden;
    margin-top: 250px;
    position: absolute;
    left: 420px;
    width: 500px;
  }
  .panel .hero-style-left {
    visibility: hidden;
    margin-top: 250px;
    position: absolute;
    left: 50px;
    width: 500px;
  }
  .hero-style-right h5 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
  }
  .hero-style-left h5 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 20px;
   
  }
  .hero-style-left h2 {
    color: #fff;
    font-size: 35px;
    line-height: 45px;
  }
  .hero-style-right h2 {
    color: #fff;
    font-size: 35px;
    line-height: 45px;
  }
  .hero-style p {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
  }
  .hero-style-right p {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
  }
  .hero-style-left p {
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 50px;
  }
.hero-style-right .price {
    background: rgb(60,152,36);
    background: radial-gradient(circle, rgba(60,152,36,1) 70%, rgba(40,136,50,1) 100%);
    padding: 20px;
    font-size: 12px;
}
.hero-style-left .price {
    background: rgb(60,152,36);
    background: radial-gradient(circle, rgba(60,152,36,1) 70%, rgba(40,136,50,1) 100%);
    padding: 20px;
    font-size: 12px;
}
.hero-style-right .test-drive {
    background: #fff;
    padding: 20px;
    font-size: 12px;
    color: #101010!important;
}
.hero-style-left .test-drive {
    background: #fff;
    padding: 20px;
    font-size: 12px;
    color: #101010!important;
}
  .panel.active {
    flex: 8;
  }
  
  .panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
  }
  .panel.active .hero-style-right {
    visibility: visible;
    transition: opacity 0.3s ease-in 0.4s;
  }
  .panel.active .hero-style-left {
    visibility: visible;
    transition: opacity 0.3s ease-in 0.4s;
  }

  
.carousel-item img {
    height: 50%;
    animation: zoomOut 25s;
}
@keyframes zoomOut {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
/*.....General-vehicle-information............*/

.general-vehicle-information {
    margin: 50px 100px 0 100px;
    justify-content: space-evenly;
    background: #1c1e22;
    padding: 50px 0 70px 0;
    
}
.general-vehicle-information p {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    color: #8d9ba8;
    
}
.general-vehicle-information .dropdown .dropdown-toggle {
    background: #fff;
    color: #101010;
    border: 1px solid #fff;
    width: 250px;
    text-align: left;
    font-size: 12px;
    padding: 8px;
    font-family: 'Nunito', sans-serif;
}
.general-vehicle-information .dropdown .dropdown-toggle::after {
  content: "";
  float: right;
  margin-right: 10px;
  margin-top: 8px;
  cursor: pointer;
} 
.general-vehicle-information .dropdown .dropdown-toggle .fa-angle-down {
    color: red!important;
    margin-right: 10px;
    transition: 0.5s;
  }
  .general-vehicle-information .dropdown-menu {
    margin-top: 5px;
    border: 2px solid #fff;
    width: 250px;
   
  }
  .general-vehicle-information .dropdown-item {
    border-bottom: 1px solid #f6f6f6;
    padding: 5px;
  }
  .general-vehicle-information .dropdown-item:hover {
    background: rgb(60,152,36);
    background: radial-gradient(circle, rgba(60,152,36,1) 70%, rgba(40,136,50,1) 100%);
    color: #fff;
  }
.general-vehicle-information .search-button {
    margin-top: 38px;
}
.general-vehicle-information .search-button .btn {
    background: rgb(60,152,36);
    background: radial-gradient(circle, rgba(60,152,36,1) 70%, rgba(40,136,50,1) 100%);
    font-size: 12px;
    border: none;
    padding: 8px 35px 8px 35px;
}

/*.....Latest-offers............*/

.Latest-offers {
    padding: 200px 130px 0  130px;
}
.Latest-offers {
    margin: 0 0 100px 0;
}
.Latest-offers .section-title {
    padding-bottom: 50px;
}

.card {
    margin-bottom: 20px;
    cursor: pointer;
    background: #1c1e22;
}
.card-img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.card-images {
    width: 100%;
    height: 150px;
}
.card .card-vehicle-name {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}
.card .card-price {
    text-align: center;
    background: rgb(60,152,36);
    background: radial-gradient(circle, rgba(60,152,36,1) 70%, rgba(40,136,50,1) 100%);
    margin: 50px 0 0 0;
    padding: 10px;
    color: #fff;
}
.card:hover .card-price {
    background-color: #101010;
  }
 
/*.....Testimonials............*/

.Testimonials {
    padding: 0 400px 0 380px;
    text-align: center;
    background: #1c1e22;
}
.Testimonials h1 {
    padding: 100px 0 0 100px;
}
.Testimonials span {
    font-size: 14px;
    margin-top: 0;
    padding-top: 0;
    color: #8d9ba8;
    margin-left: 80px;
}
.Testimonials .carousel {
    padding: 80px 50px 0 50px;
    width: 700px;
    text-align: center;
}

.Testimonials .carousel .Tc-content {
   height: 200px;
}
.Testimonials .Tc-content h4 {
    color: #fff;
}
.Testimonials .Tc-content p {
    color: #8d9ba8;
}
.Testimonials .carousel-control-prev{
    display: none;
}
.Testimonials .carousel-control-next {
  display: none;
} 
.carousel-indicators {
    display: none;
}

/*.....Trusted Agents............*/

.Trusted-dealers {
    padding: 100px 10px 100px 10px;
}
.Trusted-dealers h1 {
   text-align: center;
}
.Trusted-dealers .t-sp1 {
    text-align: center;
    margin-left: 520px;
    color: #8d9ba8;
}
.Trusted-dealers .Agents {
    width: 750px;
    margin: 100px 0 0 0;
    background: #1c1e22;
    padding: 0 0 0 0;
    height: 250px;
}

.Trusted-dealers .Agents .agent-details {
    padding: 20px 0 0 35px;
}
.agent-details h5 {
    font-size: 25px;
}
.agent-details span {
    color: #8d9ba8;
}
.agent-details p {
    margin-top: 15px;
    color: #8d9ba8;
}
.agent-socials .fa-brands {
    font-size: 23px;
    padding-right: 15px;
    color: #8d9ba8;
}
.agent-socials .fa-whatsapp:hover {
    color: #25D366;
}
.agent-socials .fa-instagram:hover {
    color: #C13584;
    
}
.agent-socials .fa-facebook-f:hover {
    color:#1877F2;
}
.agent-socials .fa-twitter:hover {
    color: #1DA1F2;
}
.agent-list {
   gap: 15px;
}
/* Mobile View */
@media only screen and (max-width: 767px) {
    .containers {
        width: calc(100vw - 20px); /* Subtract the margin to prevent overflow */
        margin: 0 10px; /* Add margin to the containers instead of individual panels */
        flex-wrap: nowrap; /* Prevent panels from wrapping onto multiple lines */
      }
      .panel {
        margin: 0 5px 10px 0;
      }
    
      .panel:nth-of-type(n+4) {
        display: none;
      }
      .panel:nth-of-type(2) {
        margin-left: 10px;
      }
      .panel:nth-of-type(3) {
        margin-left: 10px;
      }
      .panel.active {
        flex: 8;
      }
      .panel .hero-style-right,
   .panel .hero-style-left {
    visibility: hidden;
    margin-top: 400px;
    position: absolute;
    left: 35px;
    width: 350px;
  }
  .panel h3 {
    font-size: 18px;
    position: absolute;
    right: 20px;
    margin: 0;
    opacity: 0;
    top: 30px;
  }
  .hero-style-right h5,
  .hero-style-left h5 {
    font-size: 17px;
    margin-bottom: 100px;
  }
  .hero-style-right h2,
  .hero-style-left h2 {
    font-size: 25px;
    display: none;
  }
  .hero-style-right p,
  .hero-style-left p {
    font-size: 15px;
    width: 270px;
    display: none;
  }
  .hero-style-left .price,
  .hero-style-right .price {
    padding: 15px;
  }
  .hero-style-left .test-drive,
  .hero-style-right .test-drive {
    padding: 15px;
  }
  .panel.panel.active .hero-style-left, .hero-style-right {
    visibility: visible;
  }
  /*.....General-vehicle-information............*/
  .general-vehicle-information {
    margin: 0 50px 0 0;
    padding: 30px 0 70px 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
}
.general-vehicle-information p {
    visibility: hidden; 
}

.general-vehicle-information .dropdown .dropdown-toggle {
    width: 345px;
    text-align: left;
    font-size: 12px;
}
.general-vehicle-information .dropdown-menu {
    width: 345px;
   
  }
  .general-vehicle-information .search-button .btn {
    
    padding: 8px 35px 8px 35px;
    width: 345px;
}

/*.....Latest-offers............*/

.Latest-offers {
    padding: 10px 0 0  2px;
}

.new-offers{
   
}
.card-images {
    width: 100%;
    height: 200px!important;
}
/*.....Trusted Agents............*/

.Trusted-dealers {
    padding: 10px 10px 100px 10px;
}
.agent-list {
    display: flex;
    flex-direction: column;
}
.Trusted-dealers .t-sp1 {
    margin-left: 20px;
}
.Trusted-dealers .Agents {
    width: 350px;
    margin: 70px 0 0 10px;
    background: #1c1e22;
    padding: 0 0 0 0;
    height: 150px;
}
.agent-list {
    gap: 0;
 }

.Trusted-dealers .Agents .agent-details {
    padding: 20px 0 0 35px;
}
.agent-details h5 {
    font-size: 25px;
}
.agent-details span {
    font-size: 15px;
}
.agent-details p {
   display: none;
}
.agent-socials .fa-brands {
    font-size: 18px;
    padding-right: 15px;
    color: #8d9ba8;
    padding-top: 20px;
}
/*.....Testimonials............*/

.Testimonials {
    padding: 0 10px 0 10px;
}
.Testimonials h1 {
    padding: 100px 0 0 0;
    font-size: 35px;
}
.Testimonials span {
    font-size: 14px;
    margin-left: 20px;
}
.Testimonials .carousel {
    padding: 40px 0 0 0;
    width: 350px;
    text-align: center;
}

.Testimonials .carousel .Tc-content {
   height: 200px;
}
.Testimonials .Tc-content h4 {
    font-size: 25px;
}
.Testimonials .Tc-content p {
    font-size: 15px;
}

}