.product-details {
    margin-top: 50px;
}

.auto-details-header {
    margin: 20px 0;
}

.auto-details-header .auto-title {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

.auto-details-header .auto-link {
    font-size: 15px;
    font-weight: 600;
    color: #8d9ba8;
    letter-spacing: 0.5px;
    margin-top: 15px;
}

.auto-details-box {
    margin-top: 60px;
    margin-bottom: 50px;
}

.auto-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.auto-header .product-name-price {
    width: 750px;
    margin-left: 100px;
    justify-content: space-between;
    padding-bottom: 20px;
}

.auto-header .auto-title {
    font-size: 21px;
    font-weight: 600;
    color: #8d9ba8;
    margin-bottom: 0;
    padding-bottom: 0;
}

.auto-header .auto-price {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #dbe0e3;
}

.auto-main-box {
    margin-top: 20px;
    width: 100%;
    height: 420px;
}

.auto-main-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.auto-info .description-details p {
    padding-top: 20px;
    width: 500px;
}




.auto-thumbnail {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

.auto-thumbnail .thumb {
    height: 100px;
    width: 100px;
    cursor: pointer;
    border: 2px solid #fff;
    opacity: 0.3;
    border-radius: 10px;
}

.auto-thumbnail .thumb.active {
    opacity: 1;
}

.auto-thumbnail .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.product-specific-details {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    background: #111315;
    justify-content: space-evenly;
}

.product-specific-details p {
    color: #8d9ba8;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 0;

}

.product-specific-details p:hover {
    color: #fff;
}

.product-specific-details p:active {
    color: #fff;
}


.mile-details {
    margin: 120px auto 20px;
    background: transparent;
    padding: 30px 20px;
    border-radius: 15px;
    text-align: center;

    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.51);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.51);
}

.mile-details .m-t-f-box {
    box-shadow: -2px -1px 12px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -2px -1px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px -1px 12px 0px rgba(0, 0, 0, 0.75);
}

.mile-details h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.mile-details .m-p {
    color: #8d9ba8;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.mile-details .seller-details {
    margin-top: 40px;
}

.seller-details .seller-img {
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.seller-details .agent-name {
    margin-top: 10px;
    color: #8d9ba8;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 17px;
    text-transform: capitalize;
}


.seller-details .agent-socials {
    margin-top: 20px;

}


.agent-socials ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.agent-socials ul li {
    padding: 0 10px;
    cursor: pointer;
}



.mile-details .call-details {
    margin: 30px 10px 20px;
}

.call-details .fa-phone {
    background: #d75448;
    font-size: 22px;
    height: 50px;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.call-details .icon-title {
    background: #ef5d50;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 250px;
    height: 50px;
    padding: 10px 0 0 0;
    text-align: center;
}

.call-details .fa-whatsapp {
    background: #168567;
    font-size: 25px;
    height: 50px;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.call-details .whatsapp {
    background: #199473;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 250px;
    height: 50px;
    padding: 10px 0 0 0;
    text-align: center;
}

.call-details .fa-envelope {
    background: #3b7db5;
    font-size: 25px;
    height: 50px;
    padding: 10px 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.call-details .mail {
    background: #428bca;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    width: 250px;
    height: 50px;
    padding: 10px 0 0 0;
    text-align: center;
}

.call-details .c-details {
    cursor: pointer;
}

/* Mobile View */
@media only screen and (max-width: 767px) {
    .auto-header .product-name-price {
        width: 750px;
        margin-left: 100px;
        justify-content: space-between;
        padding-bottom: 20px;
    }
    
    .auto-header .auto-title {
        font-size: 18px;
        font-weight: 600;
        color: #8d9ba8;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .auto-header .auto-price {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 0;
        padding-bottom: 0;
        color: #dbe0e3;
    }
}