
.main-container {
    background-color: #f1f1f1;
    padding-bottom: 150px;
  }
  .add-testimonial {

    margin-left: 50px;
  }
.add-testimonial .form-control {
    width: 300px;
}
.add-testimonial h4 {
    font-size: 15px;
    margin-bottom: 30px;
}
.add-testimonial .table-cell {
    color: #101010;
    font-size: 14px;
    padding: 0 0 0 30px;
  } 
  .add-testimonial .table-head {
    color: #101010;
    font-size: 15px;
    padding: 0 0 0 30px;
    font-weight: 400;
  }
  .testimonial-list {
    background: #fff;
    padding: 20px 20px 20px 20px;
    width: 300px;
    margin-left: 200px;
    border-radius: 5px;
  }
  .add-testimonial .fa-x {
    margin-top: 30px;
    color: red;
    margin-left: 20px;
  }