
.dashboard-home {
    padding-bottom: 150px;
}
.page-views-box {
    gap: 30px;
}
.total-view {
    background: rgb(254,149,104);
    background: linear-gradient(90deg, rgba(254,149,104,1) 0%, rgba(254,135,97,1) 35%, rgba(254,179,145,1) 100%);
    width: 250px;
    border-radius: 8px;
}
.daily-view {
    background: rgb(10,195,131);
    background: linear-gradient(90deg, rgba(10,195,131,1) 0%, rgba(11,218,146,1) 35%, rgba(13,237,159,1) 100%);
    width: 250px;
    border-radius: 8px;
}
.weekly-view {
    background: rgb(254,94,113);
    background: linear-gradient(90deg, rgba(254,94,113,1) 0%, rgba(254,116,132,1) 35%, rgba(254,137,151,1) 100%);
    width: 250px;
    border-radius: 8px;
}
.monthly-view {
    background: rgb(1,171,174);
    background: linear-gradient(90deg, rgba(1,171,174,1) 0%, rgba(1,191,194,1) 35%, rgba(1,211,214,1) 100%);
    width: 250px;
    border-radius: 8px;
}
.views-number {
    font-size: 25px;
    margin: 15px 0 0 20px;
}
.v-n  {
    padding: 0 0 5px 20px;
    gap: 40px;
    border-bottom: 1px solid #fff;
}
.v-n p {
    font-size: 15px;
    padding: 10px 0 0 0;
}
.v-n .fa-chart-simple {
    font-size: 30px;
    color: #fff;
}
.last-updated {
    padding: 10px 0 10px 20px;
}
.last-updated span {
    font-size: 13px;
}
.last-updated .fa-timer {
    color: #fff;
}

/* Box 2*/

.Box2  {
   margin: 50px 0 0 0;
 
}
.latest-update{
    background: #fff;
    color: #101010;
    padding: 20px 100px 50px 20px;
    border-radius: 5px;
    width: 550px;
    margin-right: 40px;
}
.latest-update h4 {
    font-size: 15px;
    margin-bottom: 30px;
}
.update-msg {
    gap: 50px;
    padding-left: 10px;
}
.update-msg .date {
    color: #979fa1;
    font-size: 14px;
}
.update-msg .up-msg {
    color: #101010;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 300;
}
.update-msg span {
    color: #979fa1;
    font-size: 14px;
}
.box2-msg {
    margin-bottom: 20px;
}
.box2-dealer-img {
    height: 120px;
    width: 120px;
    margin: 40px 0 20px 0;
    border-radius: 5px;
}
.dealer-information {
    background: #fff;
    border-radius: 5px;
}
.box2-dealer-details1 {
    background: #01a9ac;
    padding: 0 25px 0 25px;
    border-radius: 5px;
}
.box2-dealer-details1 .fa-pen-to-square {
    color: #fff;
    padding: 40px 0 50px 50px;
  
}
.box2-dealer-details1 p {
    text-align: center;
    padding: 0;
    margin: 0;
}
.box2-dealer-details1 span {
    text-align: center;
    padding-left: 35px;
    font-size: 14px;
}
.box2-dealer-details2 {

}
.box2-dealer-details2 .b2-title {
    color: #101010;
    margin: 20px 0 0 0;
    padding: 0 0 0 40px;
}
.b2-dealer-details {
    margin: 50px 0 0 40px;
    gap: 50px;
}

.b2-dealer-email p {
    color: #101010;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.b2-dealer-email span {
    color: #979fa1;
    font-size: 14px;
}
.b2-dealer-phone p {
    color: #101010;
    margin: 0;
    padding: 0;
    font-size: 15px;
}
.b2-dealer-phone span {
    color: #979fa1;
    font-size: 14px;
}
.box2-dealer-socials {
    color: #979fa1;
    margin: 60px 0 0 40px;
    gap: 20px;
    font-size: 20px;
}
.box2-dealer-socials .fa-whatsapp {
    color: #25D366;
}
.box2-dealer-socials .fa-instagram {
    color: #C13584;
    
}
.box2-dealer-socials .fa-facebook-f {
    color:#1877F2;
}
.box2-dealer-socials .fa-twitter {
    color: #1DA1F2;
}
.box2-dealer-socials .f-g {
    background: rgb(60,152,36);
    background: radial-gradient(circle, rgba(60,152,36,1) 70%, rgba(40,136,50,1) 100%);
    width: 70%;
    height: 120px;
    position: absolute;
    z-index: 1;
    margin: -70px 0 0 180px;
}
.box2-dealer-details2 hr {
    margin-left: 40px;
    margin-top: 5px;
    padding: 0;
}

/* Box 3*/

.box3-left {
    background: #fff;
    margin: 50px 0 0 0;
    border-radius: 5px;
}
.box3 h4 {
    padding: 20px 0 10px 30px;
    font-size: 15px;
    margin-bottom: 20px;
}
.box3-img {
    height: 100px;
    width: 150px;
    border-radius: 5px;
}

.box3-details {
    margin: 0 0 0 30px;
    justify-content: space-evenly;
}
.box3-details p {
    color: #101010;
    margin-bottom: 20px;
}
.box3-details .box3-info {
    color: #101010;
    font-weight: 300;
    font-size: 16px;
    padding: 20px 0 60px 0;
}
.box3-image {
  padding-bottom: 20px;
}
.mail-messages {
    background: #fff;
    border-radius: 5px;
    margin-top: 50px;width: 350px;
}
.mail-messages .notifications {
    background: #01a9ac;
    padding: 10px 0 5px 0;
}
.mail-messages .notifications .noti {
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 0;
    margin-top: 10px;
}
.mail-messages .notifications .notifi-msg {
    color: #fff;
    font-weight: 300;
    text-align: center;

}
.mail-messages .mailbox-logo {
    padding: 100px 0 40px 0;
}
.mailbox-logo .fa-envelope {
    font-size: 100px;
    text-align: center;
    color: #01a9ac;
    margin-left: 130px;
}
.mailbox-logo p {
    color: #979fa1;
    width: 300px;
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;
}